<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.w3.org/1999/xhtml">
<head th:replace="common/common :: head(~{::title})">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,   initial-scale=1.0,  maximum-scale=1.0, user-scalable=no">
    <title>资产类别管理</title>
</head>
<body>
<!--导航条-->
<nav th:replace="common/common :: nav" class="navbar" style="margin-bottom: 0px ;border: none;" >
</nav>

<!--body内容-->
<div class="container-fluid" style="padding-left: 0px ; height: 92.9%;">
    <div class="row" style="height: 100%">
        <!--左侧栏-->
        <div th:replace="common/common :: #TrMini">
        </div>

        <!--中间内容部分-->
        <div class="col-md-10 m-ph-left" id="marginOne">
            <div class="row">
                <!--菜单路径-->
                <div class="breadcrumb col-md-12">
                    <li><a href="#">  </a></li>
                    <li><a href="#"> </a></li>
                    <li class="active"> </li>
                </div>
            </div>
            <!--当前菜单name-->
            <div class="row">
                <div class="col-md-9">
                    <div class="">
                        <h4>资产类别管理</h4>
                    </div>
                </div>
                <div class="col-md-3">
                    <button id="btnHi" type="button" class="btn btn-default" aria-label="Left Align">
                        隐藏
                    </button>
                    <a href="/addAty">
                        <button type="button" class="btn btn-default" aria-label="Left Align">
                            <span class="glyphicon glyphicon-align-left" aria-hidden="true">新增</span>
                        </button>
                    </a>
                    <button type="button" class="btn btn-default" aria-label="Left Align">
                        <span class="glyphicon glyphicon-align-left" aria-hidden="true"></span>
                    </button>
                </div>
            </div>
            <h5 class="page-header m-np"></h5><br>
            <!--查询功能-->
            <div class="row" id="selectHi">
                <div class="col-md-12">
                    <!--不能有目录 Ajax； 这里不能是form表单-->
                    <div class="row">
                        <div class="col-md-8">
                            <div class="form-inline">
                                <div class="form-group">
                                    <label>编码：</label>
                                    <input type="text" class="form-control" name="typeCode" value="" placeholder="填写编码"
                                           style="width: 100px">
                                </div>
                                <div class="form-group">
                                    <label>名称：</label>
                                    <input type="text" class="form-control" name="typeName" placeholder="填写名称"
                                           style="width: 100px">
                                </div>
                                <div class="form-group">
                                    <label>状态：</label>
                                    <select name="typeStatus" class="form-control" style="width: 100px">
                                        <option value=""></option>
                                        <option value="1">正常</option>
                                        <option value="0" class="m-color-red">停用</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="row">
                                <button type="submit" class="col-md-2 btn m-mar-left" id="btnAjax">查询</button>
                                <button type="reset" class="col-md-2 btn  m-mar-left">重置</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div id="table-container" th:fragment="atyList">
                <!--隐藏域-->
                <input type="hidden" name="pagenum">
                <table class="table table-bordered">
                    <caption></caption>
                    <tr>
                        <th></th>
                        <th>编码</th>
                        <th>名称</th>
                        <th>状态</th>
                        <th>操作</th>
                    </tr>
                    <tr th:each="aTypeList : ${pageInfo.list}">
                        <th th:text="${aTypeList.id}">1</th>
                        <td th:text="${aTypeList.typeCode}">60001</td>
                        <th th:text="${aTypeList.typeName}">战斗机</th>
                        <th>
                            <span th:text="${aTypeList.typeStatus} == '0' ? '停用':''" th:style=" 'color:red' ">正常</span>
                            <span th:text="${aTypeList.typeStatus} == '1' ? '正常':''">停用</span>
                        </th>
                        <th>
                            <!--编辑-->
                            <a  th:href="@{/edit/{id}(id=${aTypeList.id})}" ><i class="fas fa-edit"></i></a>
                            <!--启用-->
                            <a th:href="@{/changeStu/{id}(id=${aTypeList.id})}" onclick="return confirm('确认要启用该类别吗?')"><i th:unless=" ${aTypeList.typeStatus} == 1" class="fas fa-check-circle"></i></a>
                            <a th:href="@{/changeStu/{id}(id=${aTypeList.id})}" onclick="return confirm('确认要停用该类别吗?')"><i th:unless="${aTypeList.typeStatus} == 0" class="glyphicon glyphicon-ban-circle m-color-red"></i></a>
                        </th>
                    </tr>

                </table> <br><br><br>
                <!--分页-->
                <nav aria-label="Page navigation" style="position: fixed; bottom: 50px">
                    <ul class="pagination">
                        <li>
                            <a onclick="page(this)" th:attr="data-page=${pageInfo.prePage}"
                               aria-label="Next" th:unless="${pageInfo.isFirstPage}">上一页</a>
                        </li>
                        <!--遍历条数-->
                        <li th:each="nav:${pageInfo.navigatepageNums}">
                            <!--遍历出所有页码（不包括当前页码）-->
                            <a onclick="page(this)" th:attr="data-page=${nav}" th:text="${nav}"
                               th:if="${nav != pageInfo.pageNum}">1</a>
                            <!--遍历出当前页-->
                            <span style="font-weight: bold;background: #6faed9;" th:if="${nav == pageInfo.pageNum}"
                                  th:text="${nav}">2</span>
                        </li>
                        <li>
                            <a onclick="page(this)" th:attr="data-page=${pageInfo.nextPage}" aria-label="Next"
                               th:unless="${pageInfo.isLastPage}">下一页</a>
                        </li>
                    </ul>
                </nav>
            </div>


        </div>
    </div>
</div>

<script src="https://cdn.jsdelivr.net/npm/jquery@3.2/dist/jquery.min.js"></script>
<script src="https://cdn.bootcss.com/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>
<script src="../static/js/me.js" th:src="@{/js/me.js}"></script>
<script>
    function page(obj) {
        //拿到page值
        $("[name='pagenum']").val($(obj).data("page"));
        loaddata();
    }

    //点击事件
    $("#btnAjax").click(function () {
        loaddata();
    });
    // Ajax 提交表单
    function loaddata() {
        $("#table-container").load("/aTypeS", {
            typeCode: $("[name='typeCode']").val(),
            typeName: $("[name='typeName']").val(),
            pageNum: $("[name='pagenum']").val(),
            typeStatus: $("[name='typeStatus']").val(),
        });
    }
</script>
</body>
</html>
