<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,   initial-scale=1.0,  maximum-scale=1.0, user-scalable=no">
    <title>供应商管理</title>
    <link href="https://cdn.bootcss.com/twitter-bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
    <link href="http://cdn.bootcss.com/bootstrap-validator/0.5.3/css/bootstrapValidator.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free/css/all.min.css">
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.2/dist/jquery.min.js"></script>
    <script src="http://cdn.bootcss.com/bootstrap-validator/0.5.3/js/bootstrapValidator.min.js"></script>
    <link href="../../static/css/style.css" rel="stylesheet" th:href="@{/css/style.css}">
</head>
<script>
    $(function () {
        $('#frmL').bootstrapValidator({
            feedbackIcons: {
                valid: 'glyphicon glyphicon-ok',
                invalid: 'glyphicon glyphicon-remove',
                validating: 'glyphicon glyphicon-refresh'
            },
            fields:{
                amsName: {
                    validators: {
                        notEmpty: {
                            message: "资产名称不能为空"
                        },
                        stringLength: {  //长度限制
                            min: 4,
                            max: 12,
                            message: '资产名称长度必须在6到12位之间'
                        },
                    }
                },


            }
        });
    });
</script>


<body>
<!--导航条-->
<nav th:replace="common/common :: nav" class="navbar" style="margin-bottom: 0px ;border: none;">
</nav>
<!--body内容-->
<div class="container-fluid" style="padding-left: 0px ; height: 92.9%;">
    <div class="row" style="height: 100%">                                                          <!--缩小左侧栏-->
        <div th:replace="common/common :: #TrMini">
        </div>

        <!--中间内容部分-->
        <div class="col-md-10" id="marginOne">
            <div class="row">
                <!--菜单路径-->
                <div class="breadcrumb col-md-12">
                    <li><a href="#">  </a></li>
                    <li><a href="#"> </a></li>
                    <li class="active"> </li>
                </div>
            </div>
            <!--当前菜单name-->
            <div class="row">
                <div class="col-md-9">
                    <h4>供应商管理</h4>
                </div>
            </div>
            <h5 class="page-header m-np"></h5><br>
            <div class="row">
                <div class="col-md-9">
                    <h5 style="font-weight: bold;color: teal;" th:text="${isTitle}">新增</h5>
                </div>
            </div>
            <h5 class="page-header m-np"></h5><br>
            <form action="#" method="post" id="frmL" th:action="*{id}==null ?   @{/addWareHouse} : @{/wareHE/{id}(id=*{id})}"
                  class="form-inline" style="margin-left: auto">
                <!--隐藏域更新提交的id-->
                <input type="hidden" name="id" th:value="${aWares.getId()}">
                <div class="row" style="align-items: center">
                    <div class="col-md-1"></div>
                    <div class="form-group col-md-4">
                        <label>资产名称：</label>
                        <input type="text" th:value="${aWares.getAmsName()}" class="form-control m-width-big"
                               name="amsName" placeholder="请输入名称" style="width: 300px" >
                    </div>
                    <div class="col-md-1"></div>
                    <div class="form-group col-md-5">
                        <label>资产类型：</label>
                        <select name="typeId" class="form-control" style="width: 300px">
                            <option th:each="type : ${types}" th:value="${type.getId()}" th:text="${type.typeName}"
                                    th:selected="${aWares.typeId eq type.getId()}"
                            >办公设备</option>
                        </select>
                    </div>
                </div>
                <br>
                <div class="row" style="align-items: center">
                    <div class="col-md-1"></div>
                    <div class="form-group col-md-5">
                        <label>供应商：&nbsp;&nbsp;&nbsp;</label>
                        <select name="supplierId" class="form-control" style="width: 300px">
                            <option th:each="supplier : ${suppliers}" th:value="${supplier.getId()}" th:text="${supplier.supplierName}"
                                    th:selected="${aWares.supplierId eq supplier.getId()}">正常</option>
                        </select>
                    </div>

                    <div class="form-group col-md-5">
                        <label>品牌：&nbsp;  &nbsp;</label>
                        <select name="brandId" class="form-control" style="width: 300px">
                            <option th:each="brand : ${brands}" th:value="${brand.getId()}" th:text="${brand.brandName}"
                                    th:selected="${aWares.brandId eq brand.getId()}">正常</option>
                        </select>
                    </div>
                </div>
                <br>
                <div class="row" style="align-items: center">
                    <div class="col-md-1"></div>
                    <div class="form-group col-md-5">
                        <label>存放地点：</label>
                        <select name="leaveId" class="form-control" style="width: 300px">
                            <option th:each="leaveAddress : ${leaveAddresses}" th:value="${leaveAddress.getId()}" th:text="${leaveAddress.leaveName}"
                                    th:selected="${aWares.leaveId eq leaveAddress.getId()}">正常</option>
                        </select>
                    </div>

                    <br><br><br>
                    <div class="row m-mar-top m-mar-left-large">
                        <div class="col-md-1"></div>
                        <div class="col-md-5">
                            <button type="submit" class="btn btn-default">保存</button>
                             <button class="btn btn-default"><a href="/wareHList">关闭</a></button>
                        </div>
                    </div>
                </div>
            </form>

        </div>
    </div>
</div>
<script src="https://cdn.bootcss.com/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>

<script src="../static/js/me.js" th:src="@{/js/me.js}"></script>
</body>
</html>
