<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.w3.org/1999/xhtml"
      xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,   initial-scale=1.0,  maximum-scale=1.0, user-scalable=no">
    <link href="https://cdn.bootcss.com/twitter-bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free/css/all.min.css"></link>
    <link href="../static/css/style.css" rel="stylesheet" th:href="@{/css/style.css}">
    <title>资产管理系统</title>
</head>
<body class="">
<!--导航条-->
<nav th:replace="common/common :: nav" class="navbar" style="margin-bottom: 0px ;border: none;" >
</nav>

<!--body内容-->
<div class="container-fluid" style="padding-left: 0px ; height: 92.9%;">
    <div class="row" style="height: 100%">
        <!--左侧栏-->
        <div th:replace="common/common :: #TrMini">
        </div>




        </div>
    </div>
</div>




<script src="https://cdn.jsdelivr.net/npm/jquery@3.2/dist/jquery.min.js"></script>
<script src="https://cdn.bootcss.com/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>
<script src="../static/js/me.js" th:src="@{/js/me.js}"></script>
<script>
    function page(obj) {
        //拿到page值
        $("[name='pagenum']").val($(obj).data("page"));
        loaddata();
    }

    //点击事件
    $("#btnAjax").click(function () {
        loaddata();
    });
    // Ajax 提交表单
    function loaddata() {
        $("#table-container").load("/aTypeS", {
            typeCode: $("[name='typeCode']").val(),
            typeName: $("[name='typeName']").val(),
            pageNum: $("[name='pagenum']").val(),
            typeStatus: $("[name='typeStatus']").val(),
        });
    }


    //点击事件
    $("#m-typeList").click(function () {
        loadCommon();
    });
    // Ajax 提交表单
    function loadCommon() {
        $("#common").load("/TypeList", {

        });
    }

</script>
</body>
</html>
